---
import Box from "../components/Box.astro";
import Layout from "../layouts/Layout.astro";

type skillsType = {
    area: string;
    subAreas: Array<subSkillType>
}[]

type subSkillType = {
    area: string;
    items: string[]
}

const skills: skillsType = [{
    area: 'Data Modelling',
    subAreas: [{
        area: 'Knowledge Representation Languages',
        items: ['RDF', 'RDFS', 'RDF-star', 'OWL-2', 'PROV', 'ONTOLEX']
    }, {
        area: 'OOP Languages',
        items: ['Java', 'C#', 'JavaScript', 'TypeScript', 'Python']
    }, {
        area: 'Related',
        items: ['Acyclic Knowledge Graph', 'Ontology', 'NLP', 'PEG', 'JSON-LD']
    }]
    }, {
    area: 'State Management',
    subAreas: [{
        area: 'Query Languages',
        items: ['FlureeQL', 'SQL', 'GraphQL', 'SPARQL']
    }, {
        area: 'DBs',
        items: ['FlureeDB', 'PostgreSQL', 'SQLite', 'MongoDB']
    }, {
        area: 'Related',
        items: ['TanStack-Query Caching', 'Cookies', 'Browser Storages', 'React', 'Reducers', 'Preact', 'Git Versioning']
    }]
    }, {
    area: 'Server & Network Management',
    subAreas: [{
        area: 'Frameworks',
        items: ['Node.js', 'Express.js', 'Next,js', 'Astro', 'ASP.net', 'Flask']
    }, {
        area: 'Related',
        items: ['API Design', 'SSR', 'Docker Container', 'Cloud Infrastructure']
    }]
    }, {
    area: 'Logic Control',
    subAreas: [{
        area: 'Languages',
        items: ['Python', 'JavaScript', 'TypeScript', 'C#', 'Clojure', 'Java', 'Lua']
    }, {
        area: 'Libraries',
        items: ['NLTK', 'pandas', 'Matplotlib', 'NumPy', 'SciPy', 'RDFLib', 'Immer', 'Ohm']
    }, {
        area: 'Related',
        items: ['NLP', 'PEG', 'Regex patterns']
    }]
    }, {
    area: 'User Interface & Experience Design',
    subAreas: [{
        area: 'Languages',
        items: ['HTML', 'CSS', 'JavaScript', 'TypeScript']
    }, {
        area: 'Frameworks',
        items: ['CSS Tailwind', 'JSX']
    }, {
        area: 'Libraries',
        items: ['Slate.js', 'Chonky.js', 'Stripe']
    }, {
        area: 'Related',
        items: ['Login', 'Authentication', 'Authorization', 'Payment', 'SMTP']
    }]
    }
    
]

---


<Layout className='overflow-y-auto'>
    <div class="relative flex flex-col gap-3  h-full text-base md:text-lg px-10">
        <h2 class='text-center'>SKILLS</h2>
        <br/>
        <span class=''>This is a collection of some coding skills I am confident using. It is isn't a complete list.</span>
        <br/>
        {skills.map((skill) => {
            const subAreas = skill.subAreas.map((area) => {
                const items = area.items.map((topic) => (
                    <Box>{topic}</Box>
                ))
                return(
                <h3>{area.area}</h3>
                <br/>
                <div class='flex flex-row flex-wrap gap-3'>
                    {items}
                </div>
                <br/>
            )})
            return(
                <div>
                    <h2 class='text-right mr-5'>{skill.area}</h2>
                    <br/>
                    {subAreas}
                </div>
                <br/>
            )
        })}
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
</Layout>